.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.clear{
  clear: both;
}

.text-center {
  text-align: center;
}

.c-wrap {
  width: 1000px;
  margin: 0 auto;
}

.c-gray {
  color: #909399;
}

.c-card {
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 1px;
}

